h2{
  color: Aquamarine
}

h2{
  font-size: 16px
}

h1{
  color: white
}

h1 {
  font-family: Verdana
}

h1 {
  font-size: 50px
}

h1 {
  font-weight: normal;
}

h1 {
  text-align: center
}

h3 {
  font-family: Verdana
}

h3 {
  font-weight: 300
}

h3 {
  font-size: 42px
}

h4 {
  font-family: Verdana
}

h4 {
  font-size: 21px
}

h4 {
  color: gray
}

h5 {
  text-align: right;
}

h5 {
  color: gray
}

a {
  color: Aquamarine
}

a {
  font-size: 16px
}

a {
  text-align: center;
}

html {
  background-color: black
}

html {
  text-align: center
}
